body {
    font-size: 16px;
    background-color: var(--color-bg-page);
}

#root {
    height: 100%;
}

#root > .app {
    display: flex;
    height: 100%;
}

#root > .app > aside { display: flex; flex-direction: column;}
#root > .app > aside > ul { min-height: 0; overflow: auto; }
#root > .app > main { flex: 1; height: 100%; }