.character_list {
    border-bottom: 2px solid var(--color-border-default);
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.character_list > .item {
    background-color: #ccc;
    font-size: 1em;
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0em 0.75em;
    cursor: pointer;
    border: 1px solid #222;
}
.character_list > .item > img {
    margin-right: 0.5em;
}
.character_list > .item > svg {
    
}